@font-face {
  font-family: "Now Bold";
  src: url("/fonts/now.bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Now Medium";
  src: url("/fonts/now.medium.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Now Regular";
  src: url("/fonts/now.regular.otf") format("opentype");
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  width: 100%;
  border: 1px solid black;
}

.title {
  color: #121F61;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

body {
  display: flex;
  flex-direction: column;  
  align-items: center;    
  justify-content: center;
  min-height: 100vh;       
  margin: 0;
  padding: 0;
  background: url('background2.png') center / cover no-repeat fixed;
  overflow: hidden;       
}

.title {
  font-size: 48px;
  margin-top: 0;           
  padding-top: 20px;      
}

.about-me {
  font-size: 20px;
  margin-top: -20px;       
  color: #121F61;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.contact-links a {
  font-size: 20px;
  color: #121F61;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.contact-links a:hover {
  color: #120e5a;
}

.wrapper-main {
  width: 800px;
  margin: auto;
  padding-top: 0px;
  box-sizing: border-box;
}

/* for mobile devices */
@media (max-width: 767px) {
  body {
    padding-top: 0; 
    transform: translateY(-20px); 
  }

  .title {
    font-size: 32px; 
    padding-top: 10px;
  }

  .about-me {
    margin-top: -10px;
}
}